@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

/* logo-specific styling */
.deneb-logo {
  width: 240px;
}

.deneb-logo-nav {
  height: 55px;
}

.deneb-font {
  font-family: 'Raleway';
}

.deneb-blue {
  color: #0088e5;
}

/* this doesn't seem important
.wrap {
  min-height: 100%;
  /*height: auto !important;*/
  /*height: 100%;
  margin: 0 auto -120px;
}
*/
.top-menu {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  background: #1a1a1a;
  box-shadow: 0 5px 25px #aaa;
}

.ink-navigation ul.menu.horizontal li a {
  padding: 0.75em 1em;
}

html, body {
  height: 100%;
}

/* template-specific styling */

.panel {
  background-color: #e5e5e4;
}

#sidebar {
  background-color: #333;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 55px;
  left: 0;
  overflow: scroll;
  z-index: 2;
}

#mainarea {
  position: relative;
  top: 56px;
  height: 100%;
}

#mainpanel {
  float: right;
  padding: 20px 25px;
  margin: 0;
}

.sidebar-header {
  color: #999;
  padding: 20px 20px 10px;
}

.menu-button {
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.menu-button:hover {
  color: #fff;
  background-color: #666;
  text-decoration: none;
}

#content {
  border-color: #999;
  border-style: solid;
  border-width: 1px;
}

#content-box {
  background-color: #fff;
  box-shadow: 0 0 10px #bbb;
  margin: 100px auto 20px;
  padding: 20px;
}

/* ink overrides */

.permanently-open {
  display: block !important;
}

/* utility classes */

.borderless-grid {
  padding: 0 !important;
}

.right {
  float: right !important;
}

.no-top-margin {
  margin-top: 0;
}

textarea.code-text {
  font-family: monospace;
  font-size: 1rem;
}

.small {
  font-size: 0.75rem !important;
}

.text-button
{
    display: inline;
    background-color: Transparent;
    text-decoration: none;
    color: #e82c0c;
    cursor: pointer;
    border:0
}