@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.wrap {
  min-height: 100%;
  /*height: auto !important;*/
  height: 100%;
  margin: 0 auto -120px;
}

.top-menu {
  z-index: 1;
  width: 100%;
  height: 56px;
  position: fixed;
  background: #1a1a1a;
}

.ink-navigation ul.menu.horizontal li a {
  padding: 0.75em 1em;
}

html, body {
  height: 100%;
}

/* background */

body {
  background-image: url('/deneb/templates/deneb/assets/img/sl.png');
}

#sidebar {
  background-color: #333;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 56px;
  left: 0;
  overflow: scroll;
}

#mainarea {
  position: relative;
  top: 56px;
  height: 100%;
}

#mainpanel {
  float: right;
  padding: 20px 25px;
  margin: 0;
}

.sidebar-header {
  color: #999;
  padding: 20px 20px 10px;
}

.menu-button {
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.menu-button:hover {
  color: #fff;
  background-color: #666;
  text-decoration: none;
}

#content {
  border-color: #999;
  border-style: solid;
  border-width: 1px;
}

/* ink overrides */

.permanently-open {
  display: block !important;
}

/* utility classes */

.borderless-grid {
  padding: 0;
}

.right {
  float: right !important;
}

.no-top-margin {
  margin-top: 0;
}