/* logo-specific styling */

#kennyl {
  font-family: 'NotoSans';
  font-size: 22px;
  font-weight: 400;
  text-shadow: 0px 1px 1px #006699;
}

#kennyl a {
  padding: 8px 16px;
}

.darkBlue {
  color: #00aadd;
}

.lightBlue {
  color: #99ccff;
}