@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
  overflow: auto;
}

.top-menu {
  background: #1a1a1a;
}

.ink-navigation ul.menu.horizontal li a {
  padding: 14px 20px;
}

html, body {
  height: 100%;
}

#kennyl {
  font-family: 'NotoSans';
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0px 1px 1px #006699;
}

#kennyl a {
  padding: 8px 16px;
}

#sidebar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  height: 100%;
  position: absolute;
}

#mainpanel {
  float: right;
  padding: 10px 25px;
  margin: 0;
}

.sidebar-header {
  padding: 20px 20px 10px;
}

.menu-button {
  padding: 15px 20px;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.menu-button:hover {
  color: #fff;
  background-color: #666;
  text-decoration: none;
}
.borderless-grid {
  padding: 0;
}

.darkBlue {
  color: #00aadd;
}

.lightBlue {
  color: #99ccff;
}
