{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="all-50 push-center top-space double-bottom-space">
    <div class="align-center">
      <h1>deneb</h1>
      <h4>Login</h4>
      {% if flashError is not null %}
        <div class="column-group half-space">
          <div class="ink-alert basic error all-70 right" role="alert">
            <button class="ink-dismiss">&times;</button>
            <p>{{ flashError | raw }}</p>
          </div>
        </div>
      {% endif %}
    </div>

    <form class="ink-form" action="auth" method="post">
      <div class="column-group">
        <div class="control-group">
          <div class="column-group quarter-vertical-gutters half-horizontal-gutters">
            <label for="username" class="all-30 align-right">Username</label>
            <div class="control all-50">
              <input id="username" name="username" type="text" />
            </div>
          </div>

          <div class="column-group quarter-vertical-gutters half-horizontal-gutters">
            <label for="password" class="all-30 align-right">Password</label>
            <div class="control all-50">
              <input id="password" name="password" type="password" />
            </div>
          </div>

          <input type="hidden" name="csrf_name" value="{{ name }}" />
          <input type="hidden" name="csrf_value" value="{{ value }}" />

          <div class="column-group gutters">
            <div class="all-60"></div>
            <div class="all-20">
              <input type="submit" value="Submit" class="ink-button blue push-right" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
