{% extends "page.twig" %}

{% block title %}{% endblock %}

{% block navmenu %}
  <li><a class="push-right" href="/deneb/logout">Logout</a></li>
{% endblock %}

{% block content %}
  <div class="ink-grid borderless-grid">
    <div class="column-group">
      <div id="sidebar" class="all-30">
        test
      </div>

      <div id="mainpanel" class="all-70">
        <h1>Administration</h1>
      </div>
    </div>
  </div>

{% endblock %}
