<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>

      <link rel="stylesheet" href="templates/assets/css/ink.min.css" />
      <link rel="stylesheet" href="templates/assets/css/kennyl.css" />
    {% endblock %}

  </head>

  <body>
    <div class="wrap clearfix">

      {% block nav %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>

  </body>
  </html>