{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block nav %}

<div class="top-menu">
  <nav class="ink-navigation ink-grid">
    <ul class="menu horizontal black">
      <li><a href="#">Home</a></li>
      <li><a href="#">Post archive</a></li>
    </ul>
  </nav>
</div>

{% endblock %}

{% block content %}
  
{% endblock %}