{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block nav %}

<div class="top-menu">
  <nav class="ink-navigation ink-grid">
    <ul class="menu horizontal black">
      <li id="kennyl"><a href="http://kennyl.im"><span class="darkBlue">kennyl</span><span class="lightBlue">.im</span></a></li>
      {% block navmenu %}
      {% endblock %}
    </ul>
  </nav>
</div>

{% endblock %}

{% block content %}
  
{% endblock %}